.ui-combobox {

}

.ui-combobox .ui-combobox-input {
    
    border-radius:$themeBorderRadius 0 0 $themeBorderRadius;
    line-height: $brickHeight;
    height: $brickHeight;
    
}

.ui-combobox .ui-combobox-input-frame {
	margin-right: 0px;
	margin-left: 0px;
	display: inline;
	float: left;
}



.ui-combobox .ui-combobox-dropdownbutton {
    position:relative;
    width:0px;
    height:0px;
    overflow:visible;
	margin-right: 0px;
	margin-left: 0px;
	float: left;
}

.ui-combobox .ui-combobox-dropdownbutton .ui-button{
  
    border-radius: 0 $themeBorderRadius $themeBorderRadius 0;
}

.ui-combobox .ui-combobox-dropdownbutton .ui-button:hover {
    
}

.ui-combobox .ui-combobox-dropdownbutton-frame {
    position: relative;
    height: 36px;
    width: 30px;
    top: 4px;
    overflow: visible !important;
	float: none;
	display: inline;
	left: -1px;
}

.ui-combobox .ui-combobox-label {
    font-weight: normal;
}

