<div data-ng-id="combobox" class="waffles">
    <div class="ui-widget ui-combobox ui-state-{{state}} ui-state-default"
         ng-mouseenter="hoverIn()" 
         ng-mouseleave="hoverOut()"
         ng-class="{'ui-state-hover': interact=='hover', 'ui-state-active': interact=='focus'}"
         >
        <div class="w-12 w-alpha w-omega" for="{{id}}_input">
            <label 
                   class="ui-combobox-label ui-state-default" 
                   for="{{id}}_input"
                   ng-class="{'ui-state-hover': interact=='hover', 'ui-state-active': interact=='focus'}"
                   >{{label}}</label>
        </div>
        <div class="w-12 w-alpha w-omega">
            <div class="ui-combobox-dropdownbutton-frame">
              &nbsp;
            </div>
            <div class="ui-combobox-input-frame">
                <div
                        id="{{id}}_placeholder_frame"
                        class="ui-shim-placeholder-frame"
                        data-ng-show="isEmpty"
                        data-ng-click="focusInput()"
                        data-role="placeholder"
                        >
                    <div id="{{id}}_placeholder" class="ui-shim-placeholder">{{placeholder}}</div>
                </div>
                <input 
                       id="{{id}}_input" 
                       class="ui-combobox-input ui-state-default"
                       ng-class="{'ui-state-hover': interact=='hover', 'ui-state-active': interact=='focus'}"
                       ng-focus="focus()" 
                       ng-blur="blur()"
                       />
            </div>
        </div>
    </div>
</div>
