<div data-ng-id="combobox" class="waffles ui-widget ui-combobox ui-corner-all">
    <div class="w-12 w-alpha w-omega">
        <div class="w-12 w-alpha w-omega" for="{{id}}_input">
            <label class="ui-combobox-label" for="{{id}}_input">{{label}}</label>
        </div>
        <div class="w-12 w-alpha w-omega">
            <div class="ui-combobox-input-frame w-v-2 w-10">
                <div
                        id="{{id}}_placeholder_frame"
                        class="ui-shim-placeholder-frame"
                        data-ng-show="isEmpty"
                        data-ng-click="focusInput()"
                        data-role="placeholder"
                        >
                    <div id="{{id}}_placeholder" class="ui-shim-placeholder">{{placeholder}}</div>
                </div>
                <input id="{{id}}_input" class="ui-combobox-input"/>
            </div>
            <div class="ui-combobox-dropdownbutton-frame w-2"></div>
        </div>
    </div>
</div>
